h1
{
		background-color :green;
		font-size: 24pt;
		font-size: 24pt;
		font-weight: bold;

}

h2
{
	background-color: magenta;
	font-size:  20pt;
	font-weight: bold;
	color : white;

}
hr{
	border-width: 3px;
	border-color: red;
	border-style: dotted;
	width: 300px;
}